.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
}

.intro {
  height: 100%;
  width: 50%;
}

.txt {
  font-size: 20px;
}

.line {
  background-color: black;
  height: 1px;
  width: 100%;
  margin-top: 100px;
}
