.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 85%;
}

.intro {
  height: 100%;
  width: 100%;
  font-family: 'Superior Title';
  font-size: 30px;
}

.txt {
  font-family: sans-serif;
  font-size: 20px;
}

.line {
  background-color: black;
  height: 1px;
  width: 100%;
  margin-top: 100px;
}
