.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.me {
  position: relative;
  top: 0px;
  left: 0px;
  transition: transform 0.7s ease-in-out;
}

.me:hover {
  transform: rotate(360deg);
}

.links li {
  position: relative;
  top: 0px;
  right: 0px;
  display: inline;
  margin: 10px;
}
